h1{
	width: 200px;
	margin: 30px auto;
}
h1 button{
	text-align: center;
	width: 80px;
	margin-left: 20px;
}
#signUp{
	width: 600px;
	height: 400px;
	background-color: grey;
	margin: 0 auto;
}
#signIn{
	width: 600px;
	height: 200px;
	background-color: grey;
	margin: 0 auto;
}
legend{
	text-align: center;
}
label{
	width: 40%;
	text-align: right;
	margin-bottom: 20px;
}
input{
	margin-left: 20px;
}
.submit{
	display: block;
	width: 100px;
	margin: 20px auto;
}